<include file="Public:header"/>
</head>
<body>

<include file="Public:nav"/>

<div class="container">
    <div class="row">
        <include file="Public:providerSidebar"/>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <form name="person" enctype="multipart/form-data" method="post" >
            <h1 class="page-header">发布活动</h1>
            <if condition="$edit eq '1'"><div class="alert alert-success" role="alert">发布成功</div></if>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>活动标题*</td>
                        <td><input name="title" type="text" class="form-control"/></td>
                    </tr>
                    <tr>
                        <td>开始时间*</td>
                        <td>
                            <input name="startTime" type="text" class="form-control" placeholder="请按照此格式填写：2015-09-01 09:09:09"/>
                        </td>
                    </tr>
                    <tr>
                        <td>结束时间*</td>
                        <td>
                            <input name="endTime" type="text" class="form-control" placeholder="请按照此格式填写：2015-09-01 09:09:09"/>
                        </td>
                    </tr>
                    <tr>
                        <td>地点*</td>
                        <td>
                            <input name="location" type="text" class="form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>活动内容介绍*</td>
                        <td>
                            <input name="content" type="text" class="form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>活动展示图片1</td>
                        <td>
                            <input name="pic1" type="file" class="form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>活动展示图片2</td>
                        <td>
                            <input name="pic2" type="file" class="form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>活动展示图片3</td>
                        <td>
                            <input name="pic3" type="file" class="form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>活动展示图片4</td>
                        <td>
                            <input name="pic4" type="file" class="form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>活动展示图片5</td>
                        <td>
                            <input name="pic5" type="file" class="form-control"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-6"><input type="submit" class="btn btn-primary" value="发布"/></div>
            </div>
            </form>
        </div>
    </div>
</div>
<include file="Public:footer"/>