<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li <if condition="$nav eq '1'">class="active"</if>><a href="{:U('User/index')}">概览 <span class="sr-only">(current)</span></a></li>
    <li>基本信息维护</li>
    <li <if condition="$nav eq '2'">class="active"</if>><a href="{:U('User/personal')}">基本信息维护</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li>活动管理</li>
    <li <if condition="$nav eq '3'">class="active"</if>><a href="{:U('User/createActivity')}">发布活动</a></li>
  </ul>
</div>