@font-face {
    font-family: fzzxh;
    src: url('../font/方正正纤黑简体.TTF');
}
*{margin: 0;padding: 0;font-family: fzzxh}
input{outline: none}
select{outline: none}
option{background: none}
body{background: url("../image/background.jpg");background-size:cover;overflow-x: hidden;width: 100%;height: 100%}
#container{width: 860px;margin: 50px auto;padding: 50px;background: #fff;border-radius: 10px}
#container .input-container{margin: 20px 0}
#container input{height: 40px;border: 1px solid #999;border-radius: 20px;text-indent: 10px;width: 400px}
#container select{height: 40px;border: 1px solid #999;border-radius: 20px;text-indent: 10px;width: 400px}
.starttime-input input{z-index: 1000;position: relative}
.endtime-input input{z-index: 1001;position: relative}
textarea{width: 400px;height: 200px;resize: none;vertical-align: top;border-radius: 10px;text-indent: 10px;outline: none}
.logoPic{position: relative;height: 40px}
.logoPic span{display: inline-block;line-height: 40px}
.logoPic label{position: absolute}
.logoPic label input{position: relative;z-index: 2;opacity: 0;cursor: pointer}
.logo-zhezhu{position: absolute;width: 402px;height: 42px;background: #ed7a72;left: 71px;border-radius: 21px;text-align: center;line-height: 40px;color: #ffffff}
.submit{padding: 60px 0}
.submit input{background: #ed7a72;color: #ffffff;border: none;cursor: pointer}
#cancel{background: #666}
.participant-img-container{display: inline-block;vertical-align: -14px}
.participant-img{margin-left:10px;width: 40px;height: 40px;float: left;margin-right: 10px}
.participant-img img{border-radius: 50%;}
.item{;padding-bottom:10px;overflow: hidden;display: inline-block;margin-left: 40px;margin-top: 20px;border-bottom: 1px #9c9c9c solid}
.item-img{float: left}
.item-img img{border-radius: 50%}
.item-name{float: left;font-size: 14px;margin-left: 10px}
.namelist-button{text-align: center;margin-top: 40px}
.namelist-button span{background: #ed7a72;color: #ffffff;padding: 10px 20px;cursor: pointer;border-radius: 5px}