@font-face {
    font-family: fzzxh;
    src: url('../font/方正正纤黑简体.TTF');
}
*{margin: 0;padding: 0;font-family: fzzxh}
.overflow{overflow: hidden}
.clear{clear: both}
body{background: url("../image/background.jpg");background-size:cover;overflow-x: hidden;width: 100%;height: 100%}
#container{width: 96%;margin: 1% auto}
.left{float: left}
.right{float: right}
.column1{width: 20%;height: 100%}
.column1-img{height: 100%}
.reverge-tag{cursor: pointer}
#test{width: 50px;height: 20px;background: #fff}
.column1-search{cursor:pointer;height: 45px;background: white;border-radius: 5px;-webkit-border-radius:5px;-moz-border-radius:5px;overflow: hidden}
.column1-search img{height: 80%;cursor: pointer;margin-top: 10%;margin-left: 30%}
.column1-p p{font-size: 20px;color: #373836;margin-left: 20px;margin-top: 10px;width: 100%}
.column1-tags{width: 100%;height: 90%;background: white;overflow: hidden;margin-top: 5%;border-radius: 5px;color: #999999;font-size: 24px;}
.column1-tag{height: 45px;width: 100%;line-height: 45px;border-bottom: 1px solid #e5e5e4;cursor: pointer}
.column1-tag-label{width: 100px;margin-left: 20px}
.column1-tag img{margin-right: 20px}
.column2{width: 52%;margin: 0 1%;overflow: hidden;height: 100%}
.column2-date{height: 45px;background: white;border-radius: 5px;overflow: hidden}
.column2-date-calender{width: 45px; height:45px;cursor: pointer;background: url("../image/oneday-calender.jpg")}
.column2-divider{width: 1px;height: 100%;background: #e6e6e5}
.column2-date-time{font-size: 16px;color: #373836;padding: 13px 9px;cursor: pointer}
.column2-arrows{height: 45%}
.column2-arrows-left{width:30px;height:45px;background:url("../image/oneday-leftarrow.jpg");cursor: pointer}
.column2-arrawdivider{width: 1px;height: 22px;background:#e6e6e5;margin-top: 11px }
.column2-arrows-right{width:30px;height:45px;background:url("../image/oneday-rightarrow.jpg");cursor: pointer}
.column2-cal{width:45px;height:45px;background:url("../image/oneday-calcu.jpg");cursor: pointer}
.column2-bottom{overflow-y:auto;width: 100%;background: #ffffff;height: 90%;margin-top:2%;border-radius: 5px;position: relative;background: url("../image/oneday-dayview-bg.png");background-size: 100%}
.column2-bottom-calender{width: 100%;height: 100%}
.column2-bottom-calender-title{width: 100%;background: #a7a6a7;height: 6%;color: #ffffff;border-radius: 5px}
.column2-bottom-calender-container{height: 11%}
.column2-bottom-week-container{width: 100%}
.column2-bottom-calender-container td{width: 14%;background: #ffffff;border: 2px solid #ebebeb;vertical-align: top;padding:0;position: relative}
.column2-bottom-calender-container td .td-day{text-align: right;color: #373836;font-size: 18px;margin-top: 10px;margin-right: 10px}
.column2-bottom-calender-container td .td-num{text-align: center;color: #373836;font-size: 18px;color: #ffffff;margin-top: 20px;position: absolute;top: 15%;left: 20%}
.column2-bottom-calender-container td .td-num b{font-size: 53px;}
.column2-bottom-week-container td{border-left: 3px solid #e3e3e2;border-right: 3px solid #e3e3e2;vertical-align: top;width: 14%}
.column2-bottom-week-container-item{cursor:pointer;width: 100%;height: 8%;background: #f3f2f0;margin-bottom: 10px;text-align: center;overflow: hidden}
.column2-bottom-week-container-item h2{margin-top: 20%;font-weight: normal}
.column2-bottom-activitydetail-top{position: relative}
.column2-bottom-activitydetail-top-joinin{position: absolute;top: 20%;left: 60%;width: 20%;cursor: pointer}
.column2-bottom-activitydetail-author{margin-top: 20px;overflow: hidden}
.column2-bottom-activitydetail-author-touxiang{width: 7%;margin-left: 2%}
.column2-bottom-activitydetail-author-title{margin-left: 1%}
.column2-bottom-activitydetail-author-title h1{font-size: 30px;font-weight: normal;color:#373836}
.column2-bottom-activitydetail-author-title h2{font-size: 18px;font-weight: normal;color:#d2c9b9;margin-top: 10px}
.column2-bottom-activitydetail-content{width: 80%;margin-left: 10%;line-height: 30px}
.column2-bottom-activitydetail-participant{margin-top: 20px;overflow: hidden}
.column2-bottom-activitydetail-participant-circle{width: 7%;margin-left: 2%}
.column2-bottom-activitydetail-participant-item{width: 6%;margin-left: 2%;margin-top: 0.5%}
.column2-bottom-activitydetail-buttons{width: 50%;margin: 100px auto}
.column2-bottom-activitydetail-button{width: 40%;cursor: pointer}
.column2-bottom-setting-userinfo{width: 100%;top: 30%;position: absolute}
.column2-bottom-setting-userinfo-touxiang{width: 16%;margin-left: 4%}
.column2-bottom-setting-userinfo-info{margin-top: 10%;margin-left: 3%}
.column2-bottom-setting-userinfo-all{margin-left: 4%;padding-top: 10px}
.column2-bottom-setting-userinfo-all-name{margin: 25px 0;position: relative}
#file-value{width: 40%;margin-left: 1%;border: 1px solid #e9e7e3;border-radius: 2px;height: 30px}
#userinfo-file-input{width: 15%;height: 30px;position: absolute;left: 55%;top: 10%;z-index: 2;opacity: 0}
.userinfo-file-input-zhezhu{position: absolute;width: 15%;height:30px;background: #e9e7e3;display: inline-block;left: 55%;top: 10%;z-index: 1;text-align: center;line-height: 30px;border-radius: 2px;color: #373836}
#userinfo-file-input-submit{width: 15%;left: 75%;height: 30px;top: 10%;background: #f4a8a3;border: none;position: absolute;color: #ffffff;border-radius: 2px}
#column2-bottom-setting-userinfo-submit{width: 20%;margin-left:10%;height: 30px;border: none;background: #f4a8a3;color: #ffffff;border-radius: 4px}
.column2-bottom-addbutton{font-size: 16px;color: #dddddd;text-align: center;padding: 12px;border: 1px solid #dddddd;border-radius: 5px;width: 70%;margin-left: 15%;margin-top: 10px;text-align: left}
.item{height: 65px;margin: 10px 0;}
.column2-bottom-activity-item{width: 45%;background: #ffffff;overflow: hidden;margin-left: 3%;margin-top: 30px;cursor: pointer;text-align: center;padding-bottom: 10px}
.column2-bottom-activity-item h1{font-size: 19px;font-weight: normal;margin-top: 20px;margin-bottom: 20px}
.column2-bottom-activity-item img{width: 95%}
.item-container-time{font-size: 20px;color: #15130f;font-family: fzzxh;margin-left: 1%;margin-top: 20px;width: 7.75%;margin-right: 1%;text-align: center}
.item-container-circle{background: white;width: 18px;height: 18px;border-radius: 50%;position:relative;left:0;line-height: 65px;margin-top: 20px}
.item-cotainer-border{border: 3px solid #f7c4b1;text-align: left;margin-left: 12px;width: 85%;height: 60px;line-height: 60px;font-size: 34px;background: #fbfbfb;cursor: pointer}
.item-cotainer-content{width: 40%;background: #f7c4b1;text-indent: 20px;color: white;position: relative;height: 100%}
.item-cotainer-content span{position: absolute;width: 400px}
.item-container-con{background: url("../image/oneday-item-bg.png");overflow: hidden;}
.column3{width: 25%;height: 100%}
.column3-top{width: 100%;height: 45px;background: white;border-radius: 5px;position: relative}
.column3-add{width: 45px;height: 45px;background: url("../image/oneday-add.jpg")}
.column3-rubbish{width: 45px;height: 45px;background: url("../image/oneday-rubbish.jpg")}
.column3-page{width: 45px;height: 45px;background: url("../image/oneday-page.jpg")}
.column3-setting{width: 45px;height: 45px;background: url("../image/oneday-setting.jpg")}
.column3-setting-hover{display:none;box-shadow:-1px 1px 1px #666;clear: both;position: absolute;right: 0;top: 120%;background: #e8e8e8;padding: 10px;border-radius: 5px;z-index: 5}
.column3-setting-item{text-align: right;padding: 0 2px;cursor: pointer}
.column3-setting-item-divider{width: 100%;height: 1px;background: #373836;margin: 6px 0}
.column3-divider{height: 100%;width: 1px;background: #e3e3e2}
.column3-bottom-taskdetail{height: 100%;}
.column3-bottom{;position:relative;height: 90%;margin-top: 5%;width: 100%;background: white;border-radius: 5px;overflow-y:auto;overflow-x:hidden}
.column3-bottom-taskdetail-bottom{width: 90%;margin: 0 auto}
.column3-bottom-taskdetail-bottom-textarea{margin-top:50px;width: 100%}
.column3-bottom-taskdetail-bottom-textarea textarea{width: 100%;resize: none;display: block;margin: 0 auto;height: 80px}
.column3-bottom-taskdetail-bottom-pinglun{overflow-y: auto;height: 250px}
.column3-bottom-taskdetail-bottom-item{margin: 10px 0;height: 100px;overflow: hidden;width: 100%}
.column3-bottom-taskdetail-bottom-item-img{width: 20%;margin-right: 5%}
.column3-bottom-taskdetail-bottom-item-content{width: 70%}
.column3-bottom-taskdetail-bottom-item h4{font-weight: normal;font-size: 14px;color: #383838;margin-bottom: 10px}
.column3-bottom-taskdetail-bottom-item h5{font-weight: normal;font-size: 14px;color: #3a3a3a}
.column3-bottom-taskdetail-bottom-item h6{font-weight: normal;font-size: 12px;margin-top: 10px;color: #ddd}
.column3-bottom-setting{width: 100%}
#setting-submit{background:#2e3540;border: 0;color: #ffffff}
.column3-bottom-setting-title{width: 100%;height: 45px;background: #2e3540;color: #ffffff;line-height: 45px}
.column3-bottom-setting-title img{margin-left: 20px;margin-right: 10px}
.column3-bottom-setting-container-input{margin: 30px;position: relative}
#column3-bottom-setting-file{position: relative;z-index: 2;width: 100px;height: 100px;opacity: 0;cursor: pointer;}
.column3-bottom-setting-logoPic-zhezhu{position: absolute;width: 100px;height: 100px;background: #000;top: 0;left: 85px}
.column3-bottom-setting-container-input input{width: 150px;height: 20px}
.column3-bottom-taskdetail-divider{width: 90%;height: 2px;background: #e2e2e2;margin: 0 auto;margin-top: 100px}
.column3-bottom-taskdetail-left{padding-top:20px;height: 200px;width: 45px;background: #2e3540;position: absolute;top: 0px;float: left}
.column3-bottom-taskdetail-left img{cursor: pointer}
.column3-bottom-taskdetail-bottom-buttons{clear: both;margin-right: 20px;margin-top: 20px;overflow: hidden;margin-bottom: 20px}
.column3-bottom-taskdetail-bottom-button{cursor:pointer;width: 80px;height: 30px;float: right;text-align: center;line-height: 30px;font-size: 13px;color: #ffffff}
#column3-bottom-taskdetail-bottom-buttons-confirm{background: #ed7a72}
#column3-bottom-taskdetail-bottom-buttons-cancel{background: #abaaaa;margin-right: 25px}
.column3-bottom-taskdetail-header{height: 45px;width: 100%;background: #2e3540;color: #ffffff}
.column3-bottom-taskdetail-header img.rightarrow{margin-top: 15px;margin-left: 15px}
.column3-bottom-taskdetail-header img.confirm{float: right;margin-top: 10px;margin-right: 20px}
.column3-bottom-taskdetail-header-title{font-size: 16px}
.column3-bottom-taskdetail-header-ddl{color: #79797b;font-size: 12px;margin-left: 20px}
.column3-bottom-taskdetail-content{font-size: 1.5em;color: #a19e99;margin-top: 5%;margin-left: 16%}
.column3-bottom-taskdetail-content h6{margin-bottom: 10px;overflow: hidden}
.column3-bottom-taskdetail-content-options{vertical-align: 0}
.column3-bottom-taskdetail-content-option{margin-bottom: 10px;cursor: pointer}
.column3-bottom-taskdetail-content-option img{vertical-align: middle;margin-right: 10px}
.column3-bottom-taskdetail-content-canyu img{vertical-align: middle;border-radius: 50%}
.column3-bottom-activity-title{font-size: 18px;background: #2e3540;height: 45px;width: 100%;color: #ffffff;line-height: 45px}
.column3-bottom-activity-title img{margin-left: 20px;margin-right: 20px}
.column3-bottom-activity-item{margin-top: 15px}
.column3-bottom-activity-item img{margin-left: 15px;margin-right: 5px}
.column3-bottom-activity-item span{vertical-align: 15px;font-size: 16px}
.column3-bottom-title{height: 48px;width:100%;background: #ed7a72;border-radius: 5px 5px 0 0;color: white;font-size: 18px;line-height: 48px;overflow: hidden}
.column3-bottom-title div{margin: 0 18px}
.column3-bottom-input{margin-top:20px;color: #a9a9a9;margin-right: 20px}
.column3-bottom-input label{width: 15%;display: block;float: left;text-align: center}
.column3-bottom-input input{height: 20px;width:75%;outline: none}
.column3-bottom-input textarea{vertical-align: top;height:114px;width: 75%;resize: none}
.column3-bottom-inputtime{margin-bottom: 20px;overflow: hidden;width: 100%}
.column3-bottom-inputtime .label{font-size: 16px;color: #a9a9a9;margin-left: 8px;margin-top: 20px}
.column3-bottom-inputtime label{font-size: 14px;color: #a9a9a9;margin-top: 20px}
.column3-bottom-inputtime input{margin-left:20px;width: 70%}
.column3-bottom-inputtime .overflow{width: 100%;margin: 10px 0;margin-left: 10px}
.column3-bottom-option{margin-top: 20px}
.column3-bottom-option .clear{overflow: hidden;margin-top: 20px}
.column3-bottom-option-label{font-size: 16px;color: #c0bebe;display: block;width: 15%;text-align: center}
.column3-bottom-option-new input{width: 71%;height: 32px;margin-bottom: 5px}
.column3-bottom-person-label{font-size: 16px;color: #c0bebe;width:15%;margin-top: 50px;text-align: center}
.column3-bottom-option-new{position: relative;clear: both;left: 15%}
.option{font-size: 14px;color: #d5d4d4;margin: 5px 0}
.option input{margin-left: 5px;background: white;width: 20px;height: 20px;margin-right: 10px;vertical-align: -5px}
.column3-bottom-option-new-confirm{width: 46px;height: 19px;background: #a7cf58;color: white;text-align: center;line-height: 19px;font-size: 12px;margin-right:10px;cursor: pointer}
.column3-bottom-option-new-cancel{width: 46px;height: 19px;background: #abaaa9;color: white;text-align: center;line-height: 19px;font-size: 12px;cursor: pointer}
.column3-bottom-person-img{padding-top: 30px;width: 220px;cursor: pointer}
.column3-bottom-person-img img{margin-right: 10px}
.column3-bottom-cancel{width: 72px;height: 27px;background: #abaaa9;text-align: center;line-height: 27px;margin-left: 60px;margin-top: 40px;color: #ffffff;cursor: pointer}
.column3-bottom-confirm{width: 72px;height: 27px;background: #ed7a72;text-align: center;line-height: 27px;margin-left: 26px;margin-top: 40px;color: #ffffff;cursor: pointer;margin-bottom: 40px}
.column3-bottom-modify{width: 72px;height: 27px;background: #ed7a72;text-align: center;line-height: 27px;margin-left: 26px;margin-top: 40px;color: #ffffff;cursor: pointer;margin-bottom: 40px}
.activity-pinglun-title{width: 100%;height: 45px;background: #2e3540;color: #ffffff;font-size: 20px;line-height: 45px}
.activity-pinglun-title img{margin-left: 20px}
.activity-pinglun-container{padding:5%;height: 50%;overflow-y: auto}
.activity-pinglun-container-item{border-bottom: 1px solid #e3e3e2;overflow: hidden;padding-bottom: 20px}
.activity-pinglun-container-item-touxiang{width: 20%;margin-top: 20px}
.activity-pinglun-container-item-content{margin-left:5%;margin-top: 20px}
.activity-pinglun-container-item-textarea{width: 80%;margin-bottom: 10px;display: none}
.activity-pinglun-container-item-textarea textarea{width: 99%;resize: none;height: 40px}
.activity-pinglun-container-item-textarea-submit{padding: 5px 20px;background: #f4a8a3;display: inline-block;color: #ffffff;border-radius: 3px;cursor: pointer}
.activity-pinglun-container-item-content p{color: #999999}
.activity-pinglun-container-item-content h6{font-size: 16px;font-weight: normal;margin-top: 15%}
.activity-pinglun-container-item-button{cursor: pointer}
.activity-pinglun-container-item-button span{margin-top: 5px;color:#bdc0b9;margin-left: 10px}
.activity-pinglun-textarea{position: absolute;bottom: 10%;;width: 100%;height: 20%}
.activity-pinglun-textarea textarea{width: 80%;height: 100%;float: right;resize: none;margin-right: 5%}
.activity-pinglun-textarea-button{clear: both;text-align: center;height: 30px;line-height: 30px;color: #ffffff;background: #f4a8a3;width: 40%;float: right;margin-top: 20px;margin-right: 5%;cursor: pointer}
.column2-bottom-actmanager{width: 90%;margin: 0 auto;}
.column2-bottom-actmanager-item{cursor:pointer;position:relative;margin-top:5%;width: 95%;height: 200px;padding: 0 2%;background: #ffffff;border-radius: 5px;box-shadow:0px 1px 5px #666}
.column2-bottom-actmanager-item-img{width: 200px;height: 180px;margin-top: 10px}
.column2-bottom-actmanager-item-content{margin-left: 20px;font-size: 14px;width: 55%}
.column2-bottom-actmanager-item-content h1{font-weight: normal;margin-top: 20px;font-size: 20px}
.column2-bottom-actmanager-item-content h2{font-weight: normal;margin-top: 10px;font-size: 16px;height: 70px;width: 100%}
.column2-bottom-actmanager-item-content-imgcontainer{margin-top: 20px;position: relative;}
.column2-bottom-actmanager-item-content-imgcontainer img{vertical-align: middle;margin-left: 10px}
.column2-bottom-actmanager-action{width: 99%;background: #666666;height: 50px;margin-top: -5px;color: #ffffff;border-radius: 0 0 5px 5px;display: none}
.column2-bottom-actmanager-action-button{line-height: 50px;width: 33%;text-align: center;cursor: pointer}
.column2-bottom-actmanager-action-divider{width: 1px;height: 40%;background: #dddddd;margin-top: 14px}